@font-face {
    font-family: bariolReg;
    src: url(font/bariolReg.woff2)
}

body {
    color: black;
    font-family: bariolReg;
}

.mainIcon {
    width: 120px;
    margin-top: 25px;
}

.spacing {
    margin-top: 25px;
    margin-bottom: 25px;
} 

.spacing-small {
    margin-top: 25px;
}


.mainSummary {
    font-size: 20px;
}

.nav {
/*    position:fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(225, 225, 225, 0.5);
    z-index: 1000;
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

a {
    color: mediumpurple;
}

a :hover {
    color: hotpink;
}